form {
    display: flex;
    flex-direction: column;
}

mat-chip-listbox {
    .mdc-evolution-chip-set__chips {
        display: flex;
        justify-content: center;
    }
}

.mat-mdc-table {
    background: rgba(66, 66, 66, 0.5);
    
    tbody {
        tr {
            td.enough {
                //
            }
            td.warning {
                //
            }
            td.empty {
                //
            }
        }
    }

}