@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

@import "./app/styles/components.scss";
@import "./app/styles/colors.scss";
@import "./app/styles/mat-override.scss";


html, body { height: 100%; }
// TODO: gestire i font, scegline 2 dal sito slavato nei preferiti
body { 
    margin: 0;
    font-family: Roboto,
    "Helvetica Neue", sans-serif; 
    background: $bg-color;
}

.app-container {
    display: flex;
    flex-direction: column;
    padding: 0 8vw 0;

    &.is-login {
        margin-top: 50px;
    }
}